$main-color: #000000;
$secondary-color: #50e2da;
/**
 * Demo Styles
 */
/*URL */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


/*Alert message*/
isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 8px 0px;
  padding:12px;

}
.isa_info {
  color: #00529B;
  background-color: #BDE5F8;
}
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
  margin:10px 10px;
  font-size:2em;
  vertical-align:middle;
}


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.button_miau {
  background-color: #fe6d3c;
  border: none;
  border-radius: 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: $secondary-color;
  padding: 5px 5px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: all 500ms ease;
}

.button {
  background-color: #39418c;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: $secondary-color;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}
  button:hover {
    background: rgba(0, 0, 0, 0);
    color: #39418c;
    box-shadow: inset 0 0 0 4px #39418c;
  }


label {
  color: #1f7eaf;
  font-size: 30px;
  float: right;
  position: relative;
  left: -50%; /*posicion exacat del label*/
  text-align: left;
}

input {
  width: 70%;
  padding: 10px 14px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

body {
  color: midnightblue;
  background: white;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;

}

header{

  padding: 10px 20px;
  background-color: rgba(15, 15, 56, 0.65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .branding{
    img{
      width: 20px;
      display: inline-block;
    }
    span{
      display: inline-block;
    }
  }
  nav{
    a{
      font-size: 0.8em;
      font-weight:bold;
      display: inline-block;
      padding: 5px 10px;
      color:darken($secondary-color, 10%);
      text-decoration: none;
      position: relative;
      cursor: pointer;
      &:hover::after{
          content:'';
          position: absolute;
          bottom: -5px;
          left: 0px;
          width: 100%;
          height: 3px;
          background-color: #1f7eaf;

      }
    }
  }
}
.center {
  text-align: center;
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
  img{
    max-width: 200px;
  }
}
.user-list{
  list-style: none;
  text-align: left;
  li{
    height: 50px;
    display: flex;
    margin-bottom: 5px;
    span{
      display: inline-block;
      line-height: 50px;
      vertical-align: middle;
      margin-left: 5px;
    }
    .date{
      color:darken($main-color,10%);
      font-size: 0.9em;
    }
    img{
      border: 1px solid rgba($secondary-color,0.5);
      border-radius: 50%;

    }
  }

}
/**
 * Footer Styles
 */

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: midnightblue;
  text-align: center;
}
.logo-small{
  transition: 600ms;
  transform-origin: 50% 40%;
  &:hover{
    transform: rotate(360deg);
  }
}

@keyframes lds-bars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lds-bars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.lds-bars {
  position: relative;
}
.lds-bars div {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 60px;
  -webkit-animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-bars div:nth-child(1) {
  left: 30px;
  background: #fcb711;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.lds-bars div:nth-child(2) {
  left: 70px;
  background: #f37021;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.lds-bars div:nth-child(3) {
  left: 110px;
  background: #cc004c;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-bars div:nth-child(4) {
  left: 150px;
  background: #6460aa;
}
.lds-bars {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
